<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
	<setting name="mapUnderscoreToCamelCase" value="true" />
</settings>

	<typeAliases>
		<typeAlias alias="memberVO" type="com.hanbit.team2.vo.MemberVO"/>
		<typeAlias alias="cafeVO" type="com.hanbit.team2.vo.CafeVO"/>
		<typeAlias alias="imagesVO" type="com.hanbit.team2.vo.ImagesVO"/>
		<typeAlias alias="infoVO" type="com.hanbit.team2.vo.InfoVO"/>
		<typeAlias alias="locationVO" type="com.hanbit.team2.vo.LocationVO"/>
		<typeAlias alias="trafficVO" type="com.hanbit.team2.vo.TrafficVO"/>
		<typeAlias alias="areaVO" type="com.hanbit.team2.vo.AreaVO"/>
		<typeAlias alias="clinicVO" type="com.hanbit.team2.vo.ClinicVO"/>
	</typeAliases>

</configuration>